.AnswerBadge {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 8px;
    border: 1px solid var(--primary-brown-40);
    font-size: 14px;
    color: var(--primary-brown-40);
}

.AnswerBadge-NoAnswer {
    border: 1px solid var(--secondary-gray-40);
    color: var(--secondary-gray-40);
}
