form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
textarea {
    height: 186px;
}
textarea ~ button {
    height: 46px;
    background-color: #c7bbb5;
    color: white;
}
textarea ~ .active {
    background-color: #542f1a;
    color: white;
}
