.answer-container {
  margin: 0 auto;
  margin-bottom: 140px;
  width: 100%;
  max-width: 716px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.answer-section {
  display: flex;
  flex-direction: column;
  gap: 9px;
  background-color: #f5f1ee;
  border-radius: 16px;
  border: 1px solid #c7bbb5;
  padding: 0 16px 16px;
}

.delete-button-container {
  display: flex;
  justify-content: end;
}

.delete-button {
  width: 100px;
  height: 35px;
  border-radius: 200px;
  background-color: #542f1a;
  color: #ffffff;
  font-size: 15px;
  font-family: Pretendard;
  font-weight: 400px;
}


.answer-section-title {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.answer-section-title img {
  filter: invert(19%) sepia(10%) saturate(2990%) hue-rotate(337deg)
    brightness(97%) contrast(94%);
}
.answer-section-title h3 {
  color:#542F1A;
  font-family: Actor;
  font-weight: 400px;
  font-size: 20px;
  line-height: 25px;
}
