.FeedCard {
  padding: 32px;
  margin-top: 16px;
  box-shadow: 0px 4px 4px 0px rgba(140, 140, 140, 0.25);
  border-radius: 16px;
  background-color: white;
}

.FeedCard-question {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 32px;
  font-size: 18px;
}

.FeedCard-CreatedAt {
  color: #818181;
  font-size: 14px;
}

.FeedCard-answer {
  display: flex;
  align-items: flex-start;
  padding: 32px 0;
  gap: 12px;
  border-bottom: 1px solid #cfcfcf;
  font-size: 16px;
}

.FeedCard-username {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}

.FeedCard-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.FeedCard-reactionContainer {
  display: flex;
  margin-top: 25px;
  gap: 32px;
}

.FeedCard-reaction {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #818181;
  font-size: 14px;
  cursor: pointer;
}

.FeedCard-reactionIcon {
  width: 16px;
}

.FeedCard-reaction.clicked {
  color: #1877f2;
}
