.FeedCard {
    padding: 32px;
    margin-top: 16px;
    box-shadow: 0px 4px 4px 0px rgba(140, 140, 140, 0.25);
    border-radius: 16px;
<<<<<<< HEAD
    background-color: white;
    text-align: left;
=======
    background-color: var(--secondary-gray-10);
>>>>>>> 48ea8706a2c31c2a2f8e2760d33e832de6685df1
}

.FeedCard-question {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 32px;
    font-size: 18px;
}

.FeedCard-CreatedAt {
    color: var(--secondary-gray-40);
    font-size: 14px;
}

.FeedCard-answer {
    display: flex;
    align-items: flex-start;
    padding-top: 32px;
    gap: 12px;
    font-size: 16px;
}

.FeedCard-username {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}

.FeedCard-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.FeedCard-rejected {
    color: var(--secondary-red);
}

.FeedCard-profileImage {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
