.list-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    padding: 35px 125px 20px;
}

.list-logo {
    width: 150px;
}

.list-answer-button {
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #542f1a;
    background-color: #f5f1ee;
    cursor: pointer;
}

.list-answer-button span {
    color: #542f1a;
    font-size: 16px;
    font-weight: 400;
    background-color: #f5f1ee;
}

.list-answer-button img {
    background-color: #f5f1ee;
}

a {
    text-decoration: none;
}

.list-main {
    width: 100%;
    height: 100%;
    padding: 0px 125px;
}

.list-main-text {
    text-align: center;
    margin-bottom: 15px;
    color: #000;
    font-size: 40px;
    font-weight: 400;
}

.dropdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.dropdown {
    min-width: 80px;
    padding: 8px 12px;
    align-items: center;
    border: 1px solid #818181;
    border-radius: 8px;
    color: #818181;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    height: 34px;
    justify-content: center;
    position: relative;
    user-select: none;
    cursor: pointer;
}

.dropdown_button {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.select {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dropdown_contents {
    position: absolute;
    z-index: 999;
    width: 80px;
    top: 24px;
    border-radius: 12px;
    border: 1px solid #cfcfcf;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0;
    background-color: #ffffff;
    margin-top: 10px;
}

.dropdown_contents li {
    padding: 9px 0px;
    text-align: center;
    list-style: none;
    border-radius: 8px;
    color: #818181;
    background-color: #ffffff;
    padding-right: 16px;
}

.dropdown_contents li.selected {
    color: #1877f2;
}

.dropdown.open {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
}


.list-subjects {
    width: 100%;
    display: grid;
    place-content: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 220px);
    gap: 20px;
    margin-top: 30px;
}

.list-subject-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 186px;
    height: 187px;
    padding: 20px;
    border: 1px solid #818181;
    border-radius: 16px;
    background: #fff;
}

.list-profile-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #fff;
}

.list-profile {
    width: 60px;
    height: 60px;
    border-radius: 70%;
    overflow: hidden;
    flex-shrink: 0;
    text-align: center;
}

.list-profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.list-profile-name {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
}

.list-info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
}

.list-info {
    display: flex;
    align-items: center;
    gap: 4px;
}

.list-info-img {
    width: 18px;
    height: 18px;
}

.list-info-text {
    font-size: 16px;
    font-weight: 400;
    color: #818181;
    white-space: nowrap;
    margin: 0;
}

.list-info-count {
    font-size: 16px;
    color: #818181;
    white-space: nowrap;
    margin: 0;
}

.pagination {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.pageBtn {
    align-items: center;
    color: #818181;
    cursor: pointer;
    display: flex;
    font-weight: 400;
    font-size: 20px;
    height: 40px;
    justify-content: center;
    user-select: none;
    width: 40px;

    &:hover,
    &:focus {
        background-color: #f7f7f8;
    }

    &.active {
        color: #341909;
    }

    &.disabled {
        cursor: not-allowed;
    }

    &.ellipsis {
        cursor: default;
    }
}


@media (max-width: 1024px) {
    .list-header {
        padding: 35px 50px 20px;
    }

    .list-main {
        padding: 0px 50px;
    }

    .list-subjects {
        grid-template-columns: repeat(3, minmax(186px, 1fr));
        gap: 20px;
    }

    .list-subject-container {
        min-width: calc(25% - 12px);
        margin-left: 8px;
        margin-right: 8px;
    }
}

@media (max-width: 768px) {
    .list-header {
        padding: 35px 50px 20px;
    }

    .list-main {
        padding: 0px 24px;
    }

    .list-subjects {
        grid-template-columns: repeat(2, minmax(186px, 1fr));
        gap: 16px;
    }

    .list-subject-container {
        min-width: calc(33.333% - 12px);
        margin-left: 8px;
        margin-right: 8px;
    }

    .list-header {
        flex-direction: column;
        gap: 24px;
    }

    .list-main-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .list-main-text {
        font-size: 24px;
        margin: 0;
    }

    .dropdown-container {
        margin: 0;
    }

    .list-answer-button {
        padding: 8px 12px;
        gap: 4px;
    }
}
