.FeedCard-reactionContainer {
    display: flex;
    padding-top: 25px;
    margin-top: 32px;
    gap: 32px;
    border-top: 1px solid #cfcfcf;
}

.FeedCard-reaction {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #818181;
    font-size: 14px;
    cursor: pointer;

    &.another {
        cursor: default;
    }

    &.clicked {
        cursor: default;
        color: #1877f2;
    }
}

.FeedCard-reactionIcon {
    width: 16px;
}
