.FeedCard-reactionContainer {
    display: flex;
    padding-top: 25px;
    margin-top: 32px;
    gap: 32px;
    border-top: 1px solid var(--secondary-gray-30);
}

.FeedCard-reaction {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--secondary-gray-40);
    font-size: 14px;
    cursor: pointer;

    &.another {
        cursor: default;
    }

    &.clicked {
        cursor: default;
        color: var(--secondary-blue);
    }
}

.FeedCard-reactionIcon {
    width: 16px;
}
