.toast {
    position: fixed;
    bottom: 60px;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--secondary-gray-60);
    font-size: 14px;
    color: var(--secondary-gray-10);
}
